extends layout


block content
  script(src="javascripts/main/main.js")
  script(src="javascripts/main/anna.js")
  script(src="javascripts/main/snow.js")
  script(src="javascripts/main/dwh.js")
  script(src="javascripts/main/zyx.js")
  link(rel='stylesheet', href='/stylesheets/buttons.css')
  link(rel='stylesheet', href='/stylesheets/main.css')
  h1 中国政法大学商学院学生信息录入系统
  input(type = "button" id = "exitBtn" value = "退出" onclick= "exit()" )
  div(id = "menuTable")
    input(id = "menuIntro" type = "button" value = "系统介绍" class = "button  button-border button-rounded button-inverse menuBtn" )
    input(id = "menuBasicInfo" type = "button" value = "个人信息" class = "button  button-border button-rounded button-inverse menuBtn" )
    input(id = "menuCpt" type = "button" value = "竞赛情况" class = "button  button-border button-rounded button-inverse menuBtn" )
    input(id = "menuCXCY" type = "button" value = "创新创业" class = "button  button-border button-rounded button-inverse menuBtn" )
    input(id = "menuKYXM" type = "button" value = "科研项目" class = "button  button-border button-rounded button-inverse menuBtn" )
    input(id = "menuLWQK" type = "button" value = "论文情况" class = "button  button-border button-rounded button-inverse menuBtn" )
  div(id = "mainDiv")
    div(id = "introDiv" class = "baseStruct")
      p 教育部于 2011 年 10 月发布了《关于普通高等学校本科教学评估工作的意见》,
      p 于 2013 年 12 月发布了《关于开展普通高等学校本科教学工作审核评估的通知》，
      p 并附上了具体的普 通高等学校本科教学工作审核评估方案。自此，各大高校陆续进
      p 入自评工作中。 中国政法大学于 2016 年 4 月 6 日，成立中国政法大学本科教学
      p 审核评估工作领导小组 和办公室，统筹安排、领导学校 2017 年本科教学审核评估
      p 工作。2016 年 6 月 24 日下午， 2017 年本科教学工作审核评估工作部署会在昌
      p 平校区国际交流中心召开，标志着中国政法 大学 2017 年本科教学工作审核评估工
      p 作正式启动。此后，各院展开了紧张的专业自评工作， 撰写专业自评报告，此过程
      p 中，却遇到了数据缺失，数据收集难等问题。数据缺失主要体现 两方面：一是5年前
      p 移动互联网还不发达，在一定程度上限制了数据的收集，造成了 2011~2013 年部分
      p 数据缺失；二是中国政法大学法学背景雄厚，一个专业分成了四个院，不 存在院内
      p 还需分专业的问题，日常提交报告也多以院级作为个体统计数据，商学院忽略了分专
      p 业统计数据，造成了部分分专业数据缺失。数据收集难也主要体现在两方面：一是毕
      p 业生在填写问卷时,个人情况简介为开放题，许多毕业生未填写或填写内容过少造成了
      p 优秀校友个人资料难收集；二是用人单位对毕业生的评价情况难收集，主要是由于能
      p 联系上的校友中， 在职工作的较少，而且让毕业生的领导填写问卷，问卷的发放与收
      p 集都会有较大困难。 针对在专业评估工作中遇到的困难，可看出日常对于资料的收集
      p 整理是十分重要的。但 目前主要还是靠人工的方式进行，通过各班或学生会有关部门
      p 收集整理院内学生获奖、参与 科研情况等资料，收集整理工作进行的十分低效。若是
      p 有院级的数据管理系统，不仅可将数 据收集整理工作高效完成，专业评估工作中格式
      p 不统一的问题也将得到有效解决。
    div(id = "basicInfoDiv" class = "baseStruct")
      form(id = "basicInfoForm" class = "baseStructForm")
        table(id = "basicInfoTable1" class = "baseStructTable")
          tr
            td 姓名：
            td
              input(type = "text" id = "bIName")
          tr
            td 学号：
            td
              input(type = "text" id = "bIId")
          tr
            td 性别：
            td
              span 男：
              input(type = "radio" id = "bIGender0" value = "male" name = "gender")
              span 女：
              input(type = "radio" id = "bIGender1" value = "female" name ="gender")
          tr
            td 出生年月：
            td
              input(id="bI_birthday" name="birthday" type="month" required)
          tr
            td 高考省份：
            td
              select(id = "bI_province")
                option(value="安徽") 安徽
                option(value="澳门") 澳门
                option(value="北京") 北京
                option(value="重庆") 重庆
                option(value="福建") 福建
                option(value="甘肃") 甘肃
                option(value="广东") 广东
                option(value="广西") 广西
                option(value="贵州") 贵州
                option(value="海南") 海南
                option(value="上海") 上海
                option(value="河北") 河北
                option(value="河南") 河南
                option(value="黑龙江") 黑龙江
                option(value="湖北") 湖北
                option(value="湖南") 湖南
                option(value="吉林") 吉林
                option(value="江苏") 江苏
                option(value="江西") 江西
                option(value="辽宁") 辽宁
                option(value="内蒙古") 内蒙古
                option(value="宁夏") 宁夏
                option(value="青海") 青海
                option(value="山东") 山东
                option(value="山西") 山西
                option(value="陕西") 陕西
                option(value="上海") 上海
                option(value="四川") 四川
                option(value="台湾") 台湾
                option(value="天津") 天津
                option(value="西藏") 西藏
                option(value="香港") 香港
                option(value="新疆") 新疆
                option(value="云南") 云南
                option(value="浙江") 浙江
          tr
            td 高考类别：
            td
              span 文科：
              input(type = "radio" id = "bIgk_sort0" value = "文科" name ="gk_sort")
              span 理科：
              input(type = "radio" id = "bIgk_sort1" value = "理科" name ="gk_sort")
          tr
            td 高考数学成绩：
            td
              input(type = "text" id ="bIgk_math" )
          tr
            td 高考英语成绩：
            td
              input(type = "text" id ="bIgk_english")
          tr
            td 入学时间：
            td
              input(id="bI_enrol" name="bI_enrol" type="month" onchange="enroltime()" required)
          tr
            td 入学专业：
            td
              select(id ="bI_enrol_major")
                option(value="工商管理") 工商管理
                option(value="国际商务") 国际商务
                option(value="经济学") 经济学
                option(value="成思危现代金融菁英班") 成思危现代金融菁英班
          tr
            td 转专业：
            td
              span 是：
              input(type = "radio" id = "bI_change_major0" value = "转专业" name = "change_major" onclick="document.getElementById('bI_present_major').style.display='';")
              span 否：
              input(type = "radio" id = "bI_change_major1" value = "未转专业" name ="change_major" onclick="document.getElementById('bI_present_major').style.display='none';")

          tr
            td 现专业：
            td
              select(id="bI_present_major")
                option(value="政治学与行政学专业") 政治学与行政学专业
                option(value="国际政治专业") 国际政治专业
                option(value="行政管理专业") 行政管理专业
                option(value="公共事业管理专业") 公共事业管理专业
                option(value="工商管理专业") 工商管理专业
                option(value="经济学专业") 经济学专业
                option(value="国际商务专业") 国际商务专业
                option(value="汉语言文学专业") 汉语言文学专业
                option(value="哲学专业") 哲学专业
                option(value="新闻学专业") 新闻学专业
                option(value="思想政治教育专业") 思想政治教育专业
                option(value="社会学专业") 社会学专业
                option(value="应用心理学专业") 应用心理学专业
                option(value="社会工作专业") 社会工作专业
                option(value="英语专业") 英语专业 
                option(value="翻译专业") 翻译专业
          tr
            td 双专业：
            td
              span 是：
              input(type = "radio" id = "bI_double_major0" value = "double_major" name = "double_major" onclick="document.getElementById('bI_second_major').style.display='';")
              span 否：
              input(type = "radio" id = "bI_single_major1" value = "single_major" name = "double_major" onclick="document.getElementById('bI_second_major').style.display='none';")
          tr
            td 第二专业：
            td
              select(id="bI_second_major")
                option(value="法学专业") 法学专业
                option(value="政治学与行政学专业") 政治学与行政学专业
                option(value="国际政治专业") 国际政治专业
                option(value="行政管理专业") 行政管理专业
                option(value="公共事业管理专业") 公共事业管理专业
                option(value="工商管理专业") 工商管理专业
                option(value="经济学专业") 经济学专业
                option(value="国际商务专业") 国际商务专业
                option(value="汉语言文学专业") 汉语言文学专业
                option(value="哲学专业") 哲学专业
                option(value="新闻学专业") 新闻学专业
                option(value="思想政治教育专业") 思想政治教育专业
                option(value="社会学专业") 社会学专业
                option(value="应用心理学专业") 应用心理学专业
                option(value="社会工作专业") 社会工作专业
                option(value="英语专业") 英语专业
                option(value="德语专业") 德语专业 
                option(value="翻译专业") 翻译专业
          tr
            td 辅修：
            td
              span 是：
              input(type = "radio" id = "bI_minor0" value = "辅修" name ="bI_minor" onclick="document.getElementById('bI_minor').style.display='';")
              span 否：
              input(type = "radio" id = "bI_minor1" value = "未辅修" name ="bI_minor" onclick="document.getElementById('bI_minor').style.display='none';")
          tr
            td 辅修专业：
            td
              select(id="bI_minor")
                option(value="法学专业") 法学专业
                option(value="政治学与行政学专业") 政治学与行政学专业
                option(value="国际政治专业") 国际政治专业
                option(value="行政管理专业") 行政管理专业
                option(value="公共事业管理专业") 公共事业管理专业
                option(value="工商管理专业") 工商管理专业
                option(value="经济学专业") 经济学专业
                option(value="国际商务专业") 国际商务专业
                option(value="汉语言文学专业") 汉语言文学专业
                option(value="哲学专业") 哲学专业
                option(value="新闻学专业") 新闻学专业
                option(value="思想政治教育专业") 思想政治教育专业
                option(value="社会学专业") 社会学专业
                option(value="应用心理学专业") 应用心理学专业
                option(value="社会工作专业") 社会工作专业
                option(value="英语专业") 英语专业
                option(value="德语专业") 德语专业 
                option(value="翻译专业") 翻译专业
          tr
            td 手机号：
            td
              input(type = "text" id ="cellphone" required pattern="\d{11}")
          tr
            td 微信号：
            td
              input(type = "text" id ="wechat")
          tr
            td 邮箱：
            td
              input(type = "email" id ="email")
        table(id = "basicInfoTable2" class = "baseStructTable")
          tr
            td 毕业时间：
            td
              input(id="bI_graduate" name="bI_graduate" type="month" onchange="graduatetime()")
          tr
            td 未按时毕业原因：
            td
              input(id="bIno_graduate_reason" name="bIno_graduate_reason" type="text" placeholder="未按时毕业同学请填此项")
          tr
            td 毕业论文分数：
            td
              input(type = "text" id ="bI_finalpaper")
          tr
            td 毕业去向：
            td
              select(id="bI_aftergraduate")
                option(value="出国读研") 出国读研
                option(value="国内读研") 国内读研
                option(value="直接就业") 直接就业
                option(value="其他") 其他
          tr
            td 研究生就读院校：
            td
              input(type = "text" id ="bI_postgraduate")
          tr
            td 研究生专业：
            td
              select(id="bI_postgraduate_major" onchange="show()")
                option(value="经济") 经济
                option(value="管理") 管理
                option(value="法学") 法学
                option(value="理学") 理学
                option(value="其他") 其他
            td
              input(type="text" style="display:none" id="bI_postgraduate_other_major")
          tr
            td 博士就读院校：
            td
              input(type = "text" id ="bI_doctor")
          tr
            td 博士专业：
            td
              select(id="bI_doctor_major")
                option(value="经济") 经济
                option(value="管理") 管理
                option(value="法学") 法学
                option(value="理学") 理学
                option(value="其他") 其他
          tr
            td 博士后就读院校：
            td
              input(type = "text" id ="bI_post_doctor")
          tr
            td 博士后专业：
            td
              select(id="bI_post_doctor_major")
                option(value="经济") 经济
                option(value="管理") 管理
                option(value="法学") 法学
                option(value="理学") 理学
                option(value="其他") 其他
          tr
            td 工作单位：
            td
              input(type = "text" id ="bI_job")
          tr
            td 工作单位类型：
            td
              select(id="bI_job_sort")
                option(value="政府机构") 政府机构
                option(value="事业单位") 事业单位
                option(value="企业") 企业
                option(value="灵活就业") 灵活就业
                option(value="其他") 其他
          tr
            td 所在部门：
            td
              input(type = "text" id ="bI_department")
          tr
            td 所在部门工作偏向：
            td
              select(id="bI_department_sort")
                option(value="经济") 经济
                option(value="管理") 管理
                option(value="法学") 法学
                option(value="理学") 理学
                option(value="其他") 其他
          tr
            td 技术职务：
            td
              input(type = "text" id ="bI_tech-position")
          tr
            td 行政职务：
            td
              input(type = "text" id ="bI_administrative_function")
        table(id = "basicInfoTable3" class = "baseStructTable")
          tr
            td
            td
              input(type = "submit" id = "cptInfo_submit" value = "保存")
              input(type = "button" id = "cptInfo_reset" value = '重置')
    div(id = "cptInfoDiv" class = "baseStruct")
      form(id = "cptInfoForm" class = "baseStructForm")
        table(id = "cptInfoTable" class = "baseStructTable")
          tr
            td 竞赛名称：
            td
              input(type = "text" id = "cptInfo_cptName")
          tr
            td 姓名：
            td
              input(type = "text" id = "cptInfo_personName")
          tr
            td 学号：
            td
              input(type = "text" id = "cptInfo_personID")
          tr
            td 竞赛类别：
            td
              select(id = "cptInfo_type")
                option(value="single") 个人
                option(value="group") 团体
          tr
            td 职务：
            td
              span 组长
              input(type = "radio" id = "cptInfo_position0" value = "teamLeader" name = "cptInfo_position")
              span 组员
              input(type = "radio" id = "cptInfo_position1" value = "teammate" name = "cptYInfo_position")
          tr
            td
            td
              input(type = "submit" id = "cptInfo_submit" value = "保存")
              input(type = "button" id = "cptInfo_reset" value = '重置')


    div(id = "CXCYInfoDiv" class = "baseStruct")
      form(id = "CXCYInfoForm" class = "baseStructForm")
        table(id = "CXCYInfoTable" class = "baseStructTable")
          tr
            td 项目名称：
            td
              input(type = "text" id = "CXCYInfo_projectName")
          tr
            td 立项年份：
            td
              input(type = "month" id = "CXCYInfo_time")
          tr
            td 项目级别：
            td
              select(id = "CXCYInfo_time")
                option(value="国家级") 国家级
                option(value="北京市") 北京市
                option(value="校级") 校级
          tr
            td 姓名：
            td
              input(type = "text" id = "CXCYInfo_personName")
          tr
            td 学号：
            td
              input(type = "text" id = "CXCYInfo_personID")
          tr
            td 指导教师：
            td
              input(type = "text" id = "CXCYInfo_teacher")
          tr
            td 职务：
            td
              span 组长
              input(type = "radio" id = "CXCYInfo_position0" value = "teamLeader" name = "CXCYInfo_position")
              span 组员
              input(type = "radio" id = "CXCYInfo_position1" value = "teammate" name = "CXCYInfo_position")
          tr
            td
            td
              input(type = "submit" id = "CXCYInfo_submit" value = "保存")
              input(type = "button" id = "CXCYInfo_reset" value = '重置')
    div(id = "KYXMInfoDiv" class = "baseStruct")
      form(id = "KYXMInfoForm" class = "baseStructForm")
        table(id = "KYXMInfoTable" class = "baseStructTable")
          tr
            td 项目名称：
            td
              input(type = "text" id = "KYXMInfo_projectName")
          tr
            td 立项年份：
            td
              input(type = "month" id = "KYXMInfo_time")
          tr
            td 项目级别：
            td
              select(id = "KYXMInfo_time")
                option(value="国家级") 国家级
                option(value="北京市") 北京市
                option(value="校级") 校级
          tr
            td 姓名：
            td
              input(type = "text" id = "KYXMInfo_personName")
          tr
            td 学号：
            td
              input(type = "text" id = "KYXMInfo_personID")
          tr
            td 指导教师：
            td
              input(type = "text" id = "KYXMInfo_teacher")
          tr
            td
            td
              input(type = "submit" id = "KYXMInfo_submit" value = "保存")
              input(type = "button" id = "KYXMInfo_reset" value = '重置')
      input(type = "button" id ="KYXMInfo_creat" value="新增" onclick="creatcpt()")
    div(id = "paperInfoDiv" class = "baseStruct")
      form(id = "paperInfoForm" class = "baseStructForm")
        table(id = "paperInfoTable" class = "baseStructTable")
          tr
            td 论文名称：
            td
              input(type="text" id = "paperInfo_name")
          tr
            td 著作信息：
            td
              span 独著：
              input(type = "radio" id = "paperInfo_authors0" value = "single" name = "paperInfo_authors" onclick="display_paper1()")
              span 合著：
              input(type = "radio" id = "paperInfo_authors1" value = "multiple" name = "paperInfo_authors" onclick="display_paper2()")
          tr
            td
            td
              span(id="papertext1") 作者名称：
              input(type="text" id = "peparInfo_author")
          tr
            td 第一作者
            td
              span(id="papertext2") 是
              input(type="radio" id="paperInfo_firstAuthor1" name="paper_authors"  value="single" onclick="display_paper3()")
              span(id="papertext2") 否
              input(id="paperInfo_authors" name="paper_authors" type="radio" value="multiple" onclick="display_paper4()")
          tr
            td
            td
              span(id="papaertext3") 其他作者
              input(type="text" id="paperInfo_otherAuthors1")
          tr
            td
            td
              input(type="button"   class="btn btn-success"  value="addAuthor" id="paper_addTable" onclick="paper_add1()")
              input(type="button"   class="btn btn-success"  value="delAuthor" id="paper_deleteTable" onclick="paper_del1()")
          tr
            td
            td
              span(id="papertext4") 第一作者
              input(type="text" id="paperInfo_firstAuthor2")
              span(id="papertext4") 其他作者
              input(type="text" id="paperInfo_otherAuthors2")
          tr
            td
            td
              input(type="button"   class="btn btn-success"  value="addAuthor" id="paper_addTable" onclick="paper_add2()")
              input(type="button"   class="btn btn-success"  value="delAuthor" id="paper_deleteTable" onclick="paper_del2()")
          tr
            td 指导老师：
            td
              input(type="text" id ="paperInfo_teacherName")
          tr
            td 期刊名称：
            td
              input(type = "text" id = "paperInfo_magName")
          tr
            td 发表时间：
            td
              input(type = "month" id ="paperInfo_time")
          tr
            td
            td
              input(type = "submit" id = "paperInfo_submit" value="保存")
              input(type = "button" id = "paperInfo_reset" value="重置")




