extends layout

block content
  link(rel='stylesheet', href='/stylesheets/buttons.css')
  script(src= "javascripts/index/index.js")

  h1 中国政法大学商学院学生信息录入系统
  div(id = "backgroundDiv")
  div(id = "login")
    div
      span(id = "inform") 用户名或密码错误，请重新登录
    form(id = "loginForm" method= "post" action = "./login" onsubmit="return checkSubmit()")
      table(id = "loginTable")
        tr
          td
            span 身份：
          td
            span 学生
            input(type="radio" id="chooseID_student" name="chooseID1" checked="checked" value="student")
            span 管理员
            input(type="radio" id="chooseID_teacher" name="chooseID1"  value="teacher")
        tr
          td 用户名：
          td
            input(type = "text" id = "loginName" name = "name" class="")
        tr
          td 密&nbsp&nbsp&nbsp码：
          td
            input(type = "password" id = "loginPassword" name = "password")
      div(id = "loginBtnDiv")
        input(type = "submit" id = "loginBtn" value = "登录" class= "")
        input(type = "button" id = "registerBtn" value = "注册" onclick="register()" class = "")

  div(id = "register")
    form(id = "registerForm" method= "post" action = "./register" onsubmit="return checkRegisterSubmit()")
      table(id = "registerTable")
        tr
          td
            span 身份：
          td
            span 学生
            input(type="radio" id="chooseID_student2" name="chooseID2" checked="checked" value="student")
            span 管理员
            input(type="radio" id="chooseID_teacher2" name="chooseID2"  value="teacher")
        tr
          td
            span 用户名：
          td
            input(type = "text" id = "loginNameR" name = "name")
        tr
          td
            span 密码：
          td
            input(type = "password" id = "PasswordR1" name = "r1password")
        tr
          td
            span 确认密码：
          td
            input(type = "password" id = "PasswordR2" name = "r2password")

      div(id = "registerBtnDiv")
        input(type = "submit" id = "registerRBtn" value = "注册")
        input(type = "button" id = "loginRBtn" value = "返回登录" onclick="backToLogin()")