//
   Created by samsung2014 on 2017/2/25.
extends layout
block content

   script(src="javascripts/search/search.js")
   link(rel='stylesheet', href='/stylesheets/buttons.css')
   link(rel='stylesheet', href='/stylesheets/main.css')
   link(rel='stylesheet', href='/stylesheets/anna.css')
   h1 中国政法大学商学院学生信息查询系统
   input(type = "button" id = "exitBtn" value = "退出" onclick= "exit()" )
   div(id = "menuTable")
      input(id = "menuIntro" type = "button" value = "系统介绍" class = "button  button-border button-rounded button-inverse menuBtn" )
      input(id = "menuBasicInfo" type = "button" value = "个人信息" class = "button  button-border button-rounded button-inverse menuBtn" )
      input(id = "menuCpt" type = "button" value = "竞赛情况" class = "button  button-border button-rounded button-inverse menuBtn" )
      input(id = "menuCXCY" type = "button" value = "创新创业" class = "button  button-border button-rounded button-inverse menuBtn" )
      input(id = "menuKYXM" type = "button" value = "科研项目" class = "button  button-border button-rounded button-inverse menuBtn" )
      input(id = "menuLWQK" type = "button" value = "论文情况" class = "button  button-border button-rounded button-inverse menuBtn" )
   div(id = "mainDiv")
      //简介信息框
      div(id = "introDiv" class = "baseStruct")
         p 教育部于 2011 年 10 月发布了《关于普通高等学校本科教学评估工作的意见》,
         p 于 2013 年 12 月发布了《关于开展普通高等学校本科教学工作审核评估的通知》，
         p 并附上了具体的普 通高等学校本科教学工作审核评估方案。自此，各大高校陆续进
         p 入自评工作中。 中国政法大学于 2016 年 4 月 6 日，成立中国政法大学本科教学
         p 审核评估工作领导小组 和办公室，统筹安排、领导学校 2017 年本科教学审核评估
         p 工作。2016 年 6 月 24 日下午， 2017 年本科教学工作审核评估工作部署会在昌
         p 平校区国际交流中心召开，标志着中国政法 大学 2017 年本科教学工作审核评估工
         p 作正式启动。此后，各院展开了紧张的专业自评工作， 撰写专业自评报告，此过程
         p 中，却遇到了数据缺失，数据收集难等问题。数据缺失主要体现 两方面：一是5年前
         p 移动互联网还不发达，在一定程度上限制了数据的收集，造成了 2011~2013 年部分
         p 数据缺失；二是中国政法大学法学背景雄厚，一个专业分成了四个院，不 存在院内
         p 还需分专业的问题，日常提交报告也多以院级作为个体统计数据，商学院忽略了分专
         p 业统计数据，造成了部分分专业数据缺失。数据收集难也主要体现在两方面：一是毕
         p 业生在填写问卷时,个人情况简介为开放题，许多毕业生未填写或填写内容过少造成了
         p 优秀校友个人资料难收集；二是用人单位对毕业生的评价情况难收集，主要是由于能
         p 联系上的校友中， 在职工作的较少，而且让毕业生的领导填写问卷，问卷的发放与收
         p 集都会有较大困难。 针对在专业评估工作中遇到的困难，可看出日常对于资料的收集
         p 整理是十分重要的。但 目前主要还是靠人工的方式进行，通过各班或学生会有关部门
         p 收集整理院内学生获奖、参与 科研情况等资料，收集整理工作进行的十分低效。若是
         p 有院级的数据管理系统，不仅可将数 据收集整理工作高效完成，专业评估工作中格式
         p 不统一的问题也将得到有效解决。
      //基本信息框
      div(id = "basicInfoDiv" class = "baseStruct")
         span(id= "searchCondition") 查询条件：
         table(id="baseInfoCondition")
            tr
               td 入学时间：
               td 起始时间：
                  select(id="bI_enrol_begin" )
                     option(value="2013") 2013
                     option(value="2014") 2014
                     option(value="2015") 2015
                     option(value="2016") 2016
               td 终值时间：
                  select(id="bI_enrol_stop" )
                     option(value="2013") 2013
                     option(value="2014") 2014
                     option(value="2015") 2015
                     option(value="2016") 2016
            tr
               td 入学专业：
               td
                  select(id ="bI_enrol_major")
                     option(value="工商管理") 工商管理
                     option(value="国际商务") 国际商务
                     option(value="经济学") 经济学
                     option(value="成思危现代金融菁英班") 成思危现代金融菁英班
         span(id = "searchResultShow1") 查询结果：
         table(id = "baseInfoShowTable")
         input(type = "button" id = "bIInfo_submit" value = "查询" onclick = "bISearch()")
      div(id = "cptInfoDiv" class = "baseStruct")
         span(id= "searchCondition") 查询条件：
         table(id="cptInfoCondition")
            tr
               td 入学时间：
               td 起始时间：
                  select(id="cpt_enrol_begin" )
                     option(value="2013") 2013
                     option(value="2014") 2014
                     option(value="2015") 2015
                     option(value="2016") 2016
               td 终值时间：
                  select(id="cpt_enrol_stop" )
                     option(value="2013") 2013
                     option(value="2014") 2014
                     option(value="2015") 2015
                     option(value="2016") 2016
            tr
               td 入学专业：
               td
                  select(id ="cpt_enrol_major")
                     option(value="工商管理") 工商管理
                     option(value="国际商务") 国际商务
                     option(value="经济学") 经济学
                     option(value="成思危现代金融菁英班") 成思危现代金融菁英班
         span(id = "searchResultShow2") 查询结果：
         table(id = "cptInfoShowTable")
         input(type = "button" id = "cptInfo_submit" value = "查询" onclick = "cptSearch()")
      div(id = "CXCYInfoDiv" class = "baseStruct")
         span(id= "searchCondition") 查询条件：
            table(id="CXCYInfoCondition")
               tr
                  td 入学时间：
                  td 起始时间：
                     select(id="CXCY_enrol_begin" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
                  td 终值时间：
                     select(id="CXCY_enrol_stop" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
               tr
                  td 入学专业：
                  td
                     select(id ="CXCY_enrol_major")
                        option(value="工商管理") 工商管理
                        option(value="国际商务") 国际商务
                        option(value="经济学") 经济学
                        option(value="成思危现代金融菁英班") 成思危现代金融菁英班
            span(id = "searchResultShow3") 查询结果：
            table(id = "CXCYInfoShowTable")
            input(type = "button" id = "CXCYInfo_submit" value = "查询" onclick = "CXCYSearch()")
      //科研项目信息框
      div(id = "KYXMInfoDiv" class = "baseStruct")
         span(id= "searchCondition") 查询条件：
            table(id="KYXMInfoCondition")
               tr
                  td 入学时间：
                  td 起始时间：
                     select(id="KYXM_enrol_begin" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
                  td 终值时间：
                     select(id="KYXM_enrol_stop" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
               tr
                  td 入学专业：
                  td
                     select(id ="KYXM_enrol_major")
                        option(value="工商管理") 工商管理
                        option(value="国际商务") 国际商务
                        option(value="经济学") 经济学
                        option(value="成思危现代金融菁英班") 成思危现代金融菁英班
            span(id = "searchResultShow4") 查询结果：
            table(id = "KYXMInfoShowTable")
            input(type = "button" id = "KYXMInfo_submit" value = "查询" onclick = "KYXMSearch()")
      //论文信息框
      div(id = "paperInfoDiv" class = "baseStruct")
         span(id= "searchCondition") 查询条件：
            table(id="paperInfoCondition")
               tr
                  td 入学时间：
                  td 起始时间：
                     select(id="paper_enrol_begin" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
                  td 终值时间：
                     select(id="paper_enrol_stop" )
                        option(value="2013") 2013
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
               tr
                  td 入学专业：
                  td
                     select(id ="paper_enrol_major")
                        option(value="工商管理") 工商管理
                        option(value="国际商务") 国际商务
                        option(value="经济学") 经济学
                        option(value="成思危现代金融菁英班") 成思危现代金融菁英班
            span(id = "searchResultShow5") 查询结果：
            table(id = "paperInfoShowTable")
            input(type = "button" id = "paperInfo_submit" value = "查询" onclick = "paperSearch()")

   script(src="javascripts/main/main.js")
